@font-face {
    /* bold  */
    font-family: 'amazon-b';
    src: url('../assets/fonts/AmazonEmber_He.ttf');
} 

@font-face {
    /* normal */
    font-family: 'amazon-n';
    src: url('../assets/fonts/Amazon-Ember-Medium.ttf');
} 

@font-face {
    /* thin */
    font-family: 'amazon-n2';
    src: url('../assets/fonts/AmazonEmberDisplay_Rg.ttf');
} 
@font-face {
    /* thin */
    font-family: 'amazon-normal';
    src: url('../assets/fonts/AmazonEmber_Rg.ttf');
} 
@font-face {
    /* thin2 */
    font-family: 'amazon-thin2';
    src: url('../assets/fonts/AmazonEmberCdRC_Rg.ttf');
} 
        
    body{
        font-family: 'amazon-n','sans-serif';
    }


@font-face{
    font-family:'amazon-200';
    font-weight:200;
    src:url(https://m.media-amazon.com/images/S/sash/Dv1WQ5DdeMS5qP7.woff2) 
    format("woff2"),url(https://m.media-amazon.com/images/S/sash/e0LnMbFWJC-TMQz.woff) 
    format("woff")
}


@font-face{font-family:'amazon-500';
    font-weight:500;
    src:url(https://m.media-amazon.com/images/S/sash/VjTR4RqBzY0mUYx.woff2) format("woff2"),
    url(https://m.media-amazon.com/images/S/sash/XIvhNCZAsrT80Wz.woff) format("woff")
}


